{% extends "oscar/base.html" %}
{% load static %}

{% block viewport %}width=device-width, initial-scale=1{% endblock viewport %}

{% block title %}{{ block.super }}{% endblock title %}

{% block description %}BI-Tecnología - Los expertos en plotters{% endblock description %}
{% block keywords %}plotters consumibles{% endblock keywords %}

{% block favicon %}<link rel="shortcut icon" href="{% static 'favicon.png' %}">{% endblock favicon %}

{% block styles %}
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/plugins/swiper.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
{% endblock styles %}

{% block layout %}
    {% include "oscar/partials/svg.html" %}
    
    {% block header %}
        {% include "oscar/partials/mobile-header.html" %}
        {% include "oscar/partials/header.html" %}
    {% endblock header %}
    
    {% block content %}{% endblock content %}

    {% comment %} {% block footer %}
        {% include "oscar/partials/footer.html" %}
    {% endblock footer %}

    {% block login %}
        {% include "oscar/partials/login.html" %}
    {% endblock login %} {% endcomment %}
{% endblock layout %}

{% block scripts %}{% endblock scripts %}